* { 
  text-decoration: none;
}
body {
  margin: 0px;
 font-family: 'Poppins', sans-serif;
 color: #141414;
 
}

h1,h2,h3 {
  margin: 0px;
}
ul { 
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}
