.projetos {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.projetos .subtitulo {
color: #e0e0e0;
}

.projetos-sub {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 60ch;
  margin-bottom: 60px;
color: #525252;
}

.projetos-sub strong {
  color: #141414;
}

.plan {
  display: grid;
  gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  
}


.plan::before {
content: '';
display: block;
width: 4px;
height: 40px;
background: linear-gradient(rgba(189,34,148,1),rgba(241,108,102,1));
position: absolute;
top: 20px;
left: -4px;

}
.plan-year {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: .875rem;
}

.plan-name {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}
 .projetos a {
  color: #141414;
  text-decoration: underline;
}

.plan-text {
  font-size: .875rem;
  color: #525252;
  line-height: 1.4;
}

.plan-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.plan-tech li {
  font-size: .875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}


@media (max-width:800px) {
 
  .plan {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-content: center;

  }
  .projetos .subtitulo {
    color: #141414;
  }
  .plan-text {
    font-size: 1.25rem;
  }
  .plan-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width:400px) {

  .projetos {
    grid-template-columns: 1fr;
  }

  .subtitulo {

    font-size: 3rem;
    text-transform: capitalize;
    word-break: initial;
  }

}


